<template>
  <v-container class="pa-2" fluid>
        <v-row justify="center">
      <v-col v-for="player in players" md="2" sm="4" cols="6" @click="selectPlayer(player)" :key="player.name">
        <player-card :player="player" :disabled="player.picked">
          <template slot="action">
            <v-btn icon color="red accent-3" @click="pickRedPlayer(player)" v-on:click.stop>
              <v-icon>mdi-account-plus</v-icon>
            </v-btn>
            <div class="flex-grow-1"></div>
            <v-btn icon color="blue darken-3" @click="pickBluePlayer(player)" v-on:click.stop>
              <v-icon>mdi-account-plus</v-icon>
            </v-btn>
          </template>
        </player-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
    import PlayerCard from './PlayerCard'
    import {mapActions, mapState, mapMutations} from 'vuex'

    export default {
        components: {
            PlayerCard,
        },
        computed: mapState('player', [
          'players'
        ]),
        methods: {
          ...mapMutations('player', ['enabledModalPlayer', 'updateSelectPlayer']),
          ...mapActions('player', [
              'pickRedPlayer',
              'pickBluePlayer',
          ]),
          selectPlayer(player) {
            this.updateSelectPlayer(player)
            this.enabledModalPlayer();
          }
        },
        mounted() {
          this.$store.dispatch('player/fetchPlayers');
        }
    }
</script>

<style scoped>

</style>
