<template>
  <v-container fluid>
    <v-row>
      <v-col sm="5" cols="12">
        <team :teamates="reds"
              :stats="redsStats"
              v-on:unpick="unpickRedPlayer"
              title="Reds"
              titleClass="red accent-3 white--text"/>
      </v-col>
      <v-col sm="2" cols="12" align-self="center">
        <v-row justify="center">
          <v-radio-group v-model="playersCount">
            <v-radio label="5v5" :value="5"></v-radio>
            <v-radio label="6v6" :value="6"></v-radio>
          </v-radio-group>
        </v-row>
      </v-col>
      <v-col sm="5" cols="12">
        <team :teamates="blues"
              :stats="bluesStats"
              v-on:unpick="unpickBluePlayer"
              title="Blues"
              titleClass="blue darken-3 white--text"/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
    import Team from './Team'
    import {mapActions, mapState, mapGetters} from 'vuex'

    export default {
        components: {
            Team,
        },
        computed: {
            playersCount: {
                get() {
                    return this.$store.state.player.playersCount
                },
                set(value) {
                    this.changePlayersCount(value)
                }
            },
            ...mapState('player', [
              'reds',
              'blues'
            ]),
            ...mapGetters('player', [
                'redsStats',
                'bluesStats',
            ]),
        },
        methods: {
            ...mapActions('player', [
                'changePlayersCount',
                'unpickRedPlayer',
                'unpickBluePlayer',
            ]),
        }
    }
</script>

<style scoped>
  .fixed {
    top: 0px;
    position: sticky;
    z-index: 2;
    background: #EEEEEE; /** grey lighten-3 */
    border-bottom: solid 1px #E0E0E0; /** grey lighten-2 */
  }
</style>
