<template>
  <v-app>
    <v-content>
      <Draft/>
      <Bench />

      <ManagementPlayer v-if="displayPlayerModal" />
      <v-row justify="end" class="mt-5 mb-5">
        <v-btn @click="enabledModalPlayer()" class="mr-5" color="success"><v-icon>mdi-account-plus</v-icon></v-btn>
      </v-row>
    </v-content>
  </v-app>
</template>

<script>
  import Bench from './Bench';
  import Draft from './Draft';
  import ManagementPlayer from './ManagementPlayer';
  import {mapGetters, mapMutations} from 'vuex';

  export default {
    name: 'Home',
    components: {
      Bench,
      Draft,
      ManagementPlayer,
    },
    computed: {
      ...mapGetters('player', ['displayPlayerModal'])
    },
    methods: {
      ...mapMutations('player', ['enabledModalPlayer'])
    },
  };
</script>
