<template>
    <v-row>
        <v-dialog v-model="displayPlayerModal" @click:outside="disabledModalPlayer(), resetSelectPlayer()" width="500">
            <v-card>
                <v-form class="overflow">
                    <v-text-field v-model="playerName" :disabled="!createOption" class="mr-3 ml-3" placeholder="name"></v-text-field>
                    <v-row class="mr-5 ml-5 grey--text text--darken-2" align="center">
                        <v-slider
                            v-model="attack"
                            min="0"
                            max="10"
                            label="attack"
                            class="mr-3"
                        ></v-slider>
                        <p>{{attack}}</p>
                    </v-row>
                    <v-row class="mr-5 ml-5 grey--text text--darken-2" align="center">
                        <v-slider
                            v-model="defense"
                            min="0"
                            max="10"
                            label="defense"
                            class="mr-3"
                        ></v-slider>
                        <p>{{defense}}</p>
                    </v-row>
                    <v-row class="mr-5 ml-5 grey--text text--darken-2" align="center">
                        <v-slider
                            v-model="stamina"
                            min="0"
                            max="10"
                            label="stamina"
                            class="mr-3"
                        ></v-slider>
                        <p>{{stamina}}</p>
                    </v-row>
                    <v-row class="mr-5 ml-5 grey--text text--darken-2" align="center">
                        <v-slider
                            v-model="speed"
                            min="0"
                            max="10"
                            label="speed"
                            class="mr-3"
                        ></v-slider>
                        <p>{{speed}}</p>
                    </v-row>
                    <v-row v-if="createOption" class="mb-5" justify="center">
                        <v-btn @click="createPlayer()" :disabled="playerName === ''" color="success"><v-icon>mdi-account-plus</v-icon></v-btn>
                    </v-row>
                    <v-row v-else class="mb-5" justify="space-around">
                        <v-btn @click="updateActualPlayer()" color="warning"><v-icon>mdi-account-edit</v-icon></v-btn>
                        <v-btn @click="deletePlayer()" color="error"><v-icon>mdi-account-off</v-icon></v-btn>
                    </v-row>
                </v-form>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
    import { mapGetters, mapMutations, mapActions } from 'vuex';

    export default {
        data() {
            return {
                playerName: '',
                displayModal: false,
                attack: 0,
                defense: 0,
                stamina: 0,
                speed: 0,
                createOption: true
            }
        },
        computed: {
            ...mapGetters('player', ['displayPlayerModal', 'selectPlayer'])
        },
        created() {
            if(this.selectPlayer !== null) {
                this.createOption = false;
                this.playerName = this.selectPlayer.name;
                this.attack = this.selectPlayer.stats.attack;
                this.defense = this.selectPlayer.stats.defense;
                this.stamina = this.selectPlayer.stats.stamina;
                this.speed = this.selectPlayer.stats.speed;
            }
        },
        methods: {
            ...mapMutations('player', ['disabledModalPlayer', 'resetSelectPlayer']),
            ...mapActions('player', ['addNewPlayer', 'updatePlayer', 'deletePlayer']),
            createPlayer() {
                let player = {
                    "name": this.playerName,
                    "picked": false,
                    "stats": {
                        "attack": this.attack,
                        "defense": this.defense,
                        "stamina": this.stamina,
                        "speed": this.speed
                    }
                }
                this.addNewPlayer(player);
            },
            updateActualPlayer() {
                let player = {
                    "name": this.playerName,
                    "picked": false,
                    "stats": {
                        "attack": this.attack,
                        "defense": this.defense,
                        "stamina": this.stamina,
                        "speed": this.speed
                    }
                }
                this.updatePlayer(player);
            }
        },
    }
</script>

<style scoped>
.overflow {
    overflow: hidden;
}
</style>
