<template>
  <v-hover v-slot:default="{ hover }">
    <v-card :elevation="hover ? 16 : 2" :disabled="disabled" :dark="disabled">
      <v-card-text>
        <div class="headline">
          {{ player.name }}
          <v-chip color="orange" text-color="white">{{ rating }}</v-chip>
        </div>
      </v-card-text>
      <stats :stats="player.stats"></stats>
      <v-card-actions>
        <slot name="action"></slot>
      </v-card-actions>
    </v-card>
  </v-hover>
</template>

<script>
    import Stats from './Stats'

    export default {
        props: ['player', 'disabled'],
        components: {
            Stats,
        },
        computed: {
            rating: function () {
                const values = Object.entries(this.player.stats)
                let sum = 0;
                for (let [key, value] of values) {
                    sum += value
                }

                return Math.floor(sum / values.length)
            }
        }
    }
</script>

<style scoped>

</style>
