<template>
    <v-container
        class="fill-height"
        fluid
    >
        <v-row
            align="center"
            justify="center"
        >
            <v-col
                cols="12"
                sm="8"
                md="4"
            >
                <v-card class="elevation-12">
                    <v-toolbar
                        color="primary"
                        dark
                        flat
                    >
                    <v-toolbar-title>Register form</v-toolbar-title>
                        <v-spacer/>
                    </v-toolbar>
                    <v-alert v-if="errorRegister"
                         dense
                         text
                         :type="statusRegister"
                    >
                        {{ this.errorRegister }}
                    </v-alert>
                    <v-card-text>
                        <v-form>
                            <v-text-field
                                v-model="email"
                                label="Email"
                                name="email"
                                type="text"
                            />
                            <v-text-field
                                v-model="pseudo"
                                label="Pseudo"
                                name="pseudo"
                                type="text"
                            />
                            <v-text-field
                                v-model="password"
                                id="password"
                                label="Password"
                                name="password"
                                type="password"
                            />
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer/>
                        <v-btn @click="handleSubmit" color="primary">Register</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import {mapState, mapActions} from 'vuex'

    export default {
        data() {
            return {
                email: '',
                pseudo: '',
                password: '',
            }
        },
        computed: {
            ...mapState('user', ['statusRegister', 'errorRegister'])
        },
        methods: {
            ...mapActions('user', ['register']),
            handleSubmit() {
                const {email, password, pseudo} = this;
                this.register({email, password, pseudo})
            }
        }
    };

</script>
