<template>
  <v-row>
    <v-col md="6">
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>
            ATT : {{ stats.attack }}
            <v-progress-linear :value="stats.attack * 10"></v-progress-linear>
          </v-list-item-title>
          <v-list-item-title>
            END : {{ stats.stamina }}
            <v-progress-linear :value="stats.stamina * 10"></v-progress-linear>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-col>
    <v-col md="6">
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>
            DEF : {{ stats.defense }}
            <v-progress-linear :value="stats.defense * 10"></v-progress-linear>
          </v-list-item-title>
          <v-list-item-title>
            VIT : {{ stats.speed }}
            <v-progress-linear :value="stats.speed * 10"></v-progress-linear>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-col>
  </v-row>
</template>

<script>
    export default {
        props: ['stats']
    }
</script>

<style scoped>

</style>
