<template>
  <v-card>
    <v-card-text :class="titleClass">
      <div class="headline">
        {{ title }}
        <v-chip color="orange" text-color="white" v-if="rating">{{ rating }}</v-chip>
      </div>
    </v-card-text>
    <v-list dense>
      <teamate :teamate="teamate" v-for="teamate in teamates">
        <template slot="action">
          <v-btn icon @click="unpick(teamate)">
            <v-icon>mdi-trash-can</v-icon>
          </v-btn>
        </template>
      </teamate>
    </v-list>
  </v-card>
</template>

<script>
    import PlayerCard from "./PlayerCard";
    import Stats from "./Stats";
    import Teamate from "./Teamate";

    export default {
        props: ['title', 'titleClass', 'teamates', 'stats'],
        components: {
            Teamate,
            PlayerCard,
            Stats,
        },
        data: function () {
            return {
                rating: null,
            }
        },
        methods: {
            unpick: function (player) {
                this.$emit('unpick', player)
            }
        },
        watch: {
            stats: function () {
                if (this.stats === null) {
                    this.rating = null

                    return
                }

                const values = Object.entries(this.stats)
                let sum = 0;
                for (let [key, value] of values) {
                    sum += value
                }

                this.rating = Math.floor(sum / values.length)
            }
        },
    }
</script>

<style scoped>

</style>
