<template>
  <v-list-item>
    <v-list-item-avatar>
      <v-icon>mdi-star</v-icon>
    </v-list-item-avatar>
    <template v-if="teamate">
      <v-list-item-content>
        <v-list-item-title v-text="teamate.name"></v-list-item-title>
      </v-list-item-content>
      <v-list-item-icon v-if="teamate">
        <v-chip color="orange" text-color="white">{{ rating }}</v-chip>
        <slot name="action"></slot>
      </v-list-item-icon>
    </template>
  </v-list-item>
</template>

<script>
    export default {
        props: ['teamate'],
        computed: {
            rating: function () {
                const values = Object.entries(this.teamate.stats)
                let sum = 0;
                for (let [key, value] of values) {
                    sum += value
                }

                return Math.floor(sum / values.length)
            }
        }
    }
</script>

<style scoped>

</style>
